/* Animation 1 */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}


body {
  font-family: "Open Sans", sans-serif;
}

/* Class for scroll */
.animate-scroll {
  animation: scroll 20s linear infinite;
}